

.header-image-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    width: 100vw;
    margin-right: 20px;
}

.header-links {
    color: #334b5c;
    margin-left: 95px;
}