

.header-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: auto;
    margin-right: 20px;
    background-color: white;
    /* background-color: var(--color-northBeige); */
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-links {
    color: var(--color-northBlue);
}