

.header-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    margin-right: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-links {
    position: relative;
    color: var(--color-northBeige);
  }

  .header-links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background-color: var(--color-northOrange); 
    transform: scaleX(0);
    transition: transform 0.3s;
}

.header-links:not(.active-section):hover::after {
    transform: scaleX(1);
}

.header-links.active-section::after {
    transform: scaleX(1);
}


  