.contact-container {
    max-width: 1440px;
}

.contact-heading::before {
    content: '\2014\2014'; 
    margin-right: 10px; 
    color: var(--color-northOrange); 
}

.contact-input{
    width: 80%;
    border-bottom: solid 1px black;
    /* margin: 1rem 0; */
    color: black;
}
.contact-instruction{
    width: 58%;
}

.contact-input::placeholder {
    font-size: small;
}

.quiz-contact-input {
    border: solid 1px var(--color-northBlue);
    margin: 8px;
    width: 80vw;
    height: 35px;
    padding: 10px;
  }

  .quiz-contact-textarea {
    border: solid 1px var(--color-northBlue);
    margin: 8px;
    width: 80vw;
    padding: 10px;
  }

  .quiz-contact-input::placeholder, .quiz-contact-textarea::placeholder {
    color: #334b56c6;
    font-size: small;
    
  }