/* .quiz-text-container {
    height: auto;
    width: 267px;
} */

.images-text-container {
    width: 90vw;
}
.quiz-text-container {
    width: 790px;
}

.the-guidance {
    border-bottom: solid 4px;
    border-color: #e59163;
    padding-bottom: 5px;
}

.guidance-container{
    width: 40vw;
}

@media screen and (max-width: 815px) {
    .quiz-text-container {
        width: 90vw;
    }
}