.quiz-text-container {
    height: auto;
    width: 267px;
}

.the-guidance {
    border-bottom: solid 4px;
    border-color: #e59163;
    padding-bottom: 5px;
}

.guidance-container{
    width: 40vw;
}

@media screen and (max-width: 815px) {
    .bart-container {
        left: 0;
        min-width: none;
    }
    .images-text-container {
        width: 90vw;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .quiz-text-container {
        max-height: auto;
        min-width: 90vw;
        right: 0;
        max-height: none;
    }
}