.bart-container {
    position: relative;
    min-width: 700px;
    left: 10%;
}

.about-text-container {
    max-height: 250px;
    min-width: 400px;
    right: 10%;
}

@media screen and (max-width: 935px) {
    .about-text-container {
        right: 19%;
    }
}

@media screen and (max-width: 815px) {
    .bart-container {
        left: 0;
        min-width: none;
    }
    .bart-photo {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text-container {
        max-height: auto;
        min-width: 90vw;
        right: 0;
        max-height: none;
    }
}

