.quiz-step {
    flex: 1;
    min-width: 100vw; 
    
    transition: transform 0.5s ease; 
  }
  
  .step-1 {
    transform: translateX(0);
  }
  
  .step-2 {
    transform: translateX(-100%);
  }
  
  .step-3 {
    transform: translateX(-200%);
  }