*, 
*::after, 
*::before {
    box-sizing: border-box;
}

/* .hamburger-container{
    position: absolute;
    right: 0;
    margin: 0;  
} */

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #334b5c;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {

    /* this is calculating the Hamburger height by the square root of 2 */
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    color: #334b5c;
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: right center;
        transition: opacity var(--animation-timing), width(--animation-timing);
    }

    .sidebar {
        color: #334b5c;
    }

    /* has selector basically doing some conditional logic here */
    .hamburger-menu:has(input:checked)::before {
        rotate: -45deg;
        width: var(--x-width);
        /* adjusting the bar height */
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }