.background-image {
    background-image: url('/images/blueFlooring.png');
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: auto;
    position: relative;
    filter: grayscale(90%) brightness(100%);
  }

  .blue-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #005694aa;
  }

  .mainpage-contact-input {
    border: solid 1px white;
    margin: 8px;
    width: 600px;
    height: 35px;
    padding: 10px;
  }

  .contact-textarea {
    border: solid 1px white;
    margin: 8px;
    width: 600px;
    padding: 10px;
  }

  .mainpage-contact-input::placeholder, .contact-textarea::placeholder {
    color: white;
    font-size: small;
    
  }

  

  @media screen and (max-width: 815px) {
    .mainpage-contact-input {
        width: 70vw;
    }

    .contact-textarea {
        width: 70vw;
    }
  }

  @media screen and (max-width: 640px) {
    .mainpage-contact-input {
        width: 90vw;
    }

    .contact-textarea {
        width: 90vw;
    }
  }