
.gallery-cover-image-container {
    position: relative;
    min-width: 700px;
    right: 10%;
}

.gallery-text-container {
    max-height: 230px;
    min-width: 400px;
    left: 10%;
    z-index: 2;
}

@media screen and (max-width: 935px) {
    .gallery-text-container {
        left: 20%;
    }
}

@media screen and (max-width: 815px) {
    .gallery-container {
        flex-direction: column;
    }

    .gallery-cover-image-container{
        right: 0;
        
    }

    .gallery-cover-photo {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-text-container {
        max-height: none;
        min-width: 0;
        width: 90vw;
        left: 0;
        order: 2;
    }
}

/* @media screen and (max-width: 640px) {
    .gallery-text-container {
        width: 80vw;
    }
} */
