.carousel-container {
    background-color: #334b5c;
}

.small-service-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}

.small-logo-containers {
    /* height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #e1d9d3;
    display: flex;
    justify-content: center; */
    background-color: 'northBeige';
    display: flex;
    justify-content: center;
    height: 140px;
    width: 140px;
    border-radius: 70px;
}

