@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    max-width: 1440px;
    min-width: 320px;
    overflow-x:hidden;
}

html {
  overflow-x:hidden;
}


h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}

.blue-button {
  display: flex;
  align-items: center;
  background-color: #334b5c;
  margin: 1rem 0;
  padding: 0.65rem 1rem;
  border-radius: 0.75rem;
  font-size: 17px;
  font-variant: small-caps;
}

.blue-button:active {
  background-color: #334b5cb0; 
}

.blue-button:focus {
  background-color: #334b5cee;
  outline-offset: 2px;
  outline: 1px solid #334b5c;
}

.blue-button:hover {
  background-color: #334b5cee;
}

.orange-button {
  display: flex;
  align-items: center;
  background-color: #e59163;
  margin: 1rem 0;
  padding: 0.65rem 1rem;
  border-radius: 0.75rem;
  font-size: 17px;
  font-variant: small-caps;
}

.orange-button:active {
  background-color: #e59063b4; 
}

.orange-button:focus {
  background-color: #e59063db;
  outline-offset: 2px;
  outline: 1px solid #e59163;
}

.orange-button:hover {
  background-color: #e59063db;
}