@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-northOrange: #e59163;
  --color-northBlue: #334b5c;
  --color-northBeige: #f1e9e3;
  --color-northLightBlue: #eaf1f5;
  --color-northDarkBlue: #253847; 
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
  --swiper-theme-color: white;
  --swiper-pagination-fraction-color: white; 
  --swiper-pagination-bullet-inactive: #f1e9e3;
}



@layer base { 
  body {
    background-color: var(--color-northDarkBlue);
    color: rgb(var(--foreground-rgb));
    min-width: 320px;
    overflow-x:hidden;
    /* font-style: ; */
}
  h1 {
    line-height: 1.1;
    font-size: 2.25rem;
  }
  html {
    overflow-x:hidden;
  }
  h2 {
    font-size: large;
    font-weight: 500;
  }
  ul {
    margin: 0.5rem;
  }
  li {
    margin: 0.5rem;
  }
  button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: capitalize;
    margin: 0.5rem 0;
    font-weight: 600;
  }
}

@layer components { 
  .orange-button {
    background-color: var(--color-northOrange);
    /* font-weight: 600; */
    color: var(--color-northDarkBlue); 
  }
  .orange-button:active {
    /* background-color: #e59063b4;  */
    @apply bg-northOrange/50;
  }
  .orange-button:focus {
    @apply bg-northOrange/50;
    outline-offset: 2px;
    outline: 1px solid var(--color-northOrange);
  } 
  .orange-button:hover {
    @apply bg-northOrange/90;  
  }
  
  .blue-button {
    color: var(--color-northBeige);
    background-color: var(--color-northBlue);
  } 
  .blue-button:active {
    @apply bg-northBlue/50; 
  } 
  .blue-button:focus {
    @apply bg-northBlue/50;
    outline-offset: 2px;
    outline: 1px solid var(--color-northBlue);
  }
  .blue-button:hover {
    @apply bg-northBlue/90; 
  }

  .quiz-button {
    background-color: var(--color-northBeige);
    border: 1px solid var(--color-northBlue);
    color: var(--color-northBlue);
  }
  .quiz-button:focus {
    background-color: #fff6ef;
    outline-offset: 2px;
    outline: 1px solid var(--color-northBlue);
  }
  .quiz-button:hover {
    background-color: #fff6ef; 
  }

  .quiz-checkbox {
    width: 1em;
      height: 1em;
      background-color: transparent;
      border-radius: 50%;
      vertical-align: middle;
      outline-offset: 1px;
      outline: 1px solid var(--color-northOrange);
      appearance: none;
      cursor: pointer;
      margin-right: 15px;
  }
  
  .quiz-checkbox:checked {
    background-color: var(--color-northOrange);
  }
  .modal-overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    z-index: 5; 
    overflow: hidden;
  }
  .paragraph-wrap{
    text-wrap: balance;
  }
}