@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-northOrange: #e59163;
  --color-northBlue: #334b5c;
  --color-northBeige: #f1e9e3;
  --color-northLightBlue: #eaf1f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    max-width: 1440px;
    min-width: 320px;
    overflow-x:hidden;
}

html {
  overflow-x:hidden;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
  font-weight: 500;
}

ul {
  margin: 0.5rem;
}

li {
  margin: 0.5rem;
}
.blue-button {
  display: flex;
  align-items: center;
  background-color: #334b5c;
  margin: 1rem;
  padding: 0.65rem 1rem;
  border-radius: 0.75rem;
  font-size: 17px;
  font-variant: small-caps;
}

.blue-button:active {
  background-color: #334b5cb0; 
}

.blue-button:focus {
  background-color: #334b5cee;
  outline-offset: 2px;
  outline: 1px solid #334b5c;
}

.blue-button:hover {
  background-color: #334b5cee;
}

.orange-button {
  display: flex;
  align-items: center;
  background-color: #e59163;
  margin: 1rem;
  padding: 0.65rem 1rem;
  border-radius: 0.75rem;
  font-size: 17px;
  font-variant: small-caps;
  color: black;
}

.orange-button:active {
  background-color: #e59063b4; 
}

.orange-button:focus {
  background-color: #e59063db;
  outline-offset: 2px;
  outline: 1px solid #e59163;
}

.orange-button:hover {
  background-color: #e59063db;
}

.quiz-button {
  display: flex;
  align-items: center;
  background-color: #f1e9e3;
  margin: 1rem;
  padding: 0.55rem 1rem;
  border: 1px solid #334b5c;
  border-radius: 0.75rem;
  font-size: 17px;
  font-variant: small-caps;
  color: #334b5c;
}

.quiz-button:focus {
  background-color: #f9f1ea;
  outline-offset: 2px;
  outline: 1px solid #1f2e38;
}

.quiz-button:hover {
  background-color: #f9f1ea;
  
}

.quiz-checkbox {
  width: 1em;
    height: 1em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    outline-offset: 1px;
    outline: 1px solid #e59163;
    appearance: none;
    cursor: pointer;
    margin-right: 15px;
}

.quiz-checkbox:checked {
  background-color: #e59163;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 5; 
  overflow: hidden;
}