
.side-nav {
    position: fixed;
    background-color: var(--color-northBlue);
    color: var(--color-northBeige);
    width: 100vw;
    height: 100vh;
    left: -100%; /* initial position */
    transition: left 0.5s ease;
    padding: 40px;
    margin-top: 8px;
  }
  
  .showNav {
    left: 0;
  }
  
  .hideNav {
    left: -100%;
    transition: left 0.5s ease;
  }